<%- include('partials/header') %>
<div id="wrapper">


  <div >
    <pre class="contact">
      <h1>Contact Me</h1>
      <p> 9860582713 </p>
      <p>rvsatyam2000@gmail.com</p>
      <a href="/logout" class = "btn btn-lg btn-primary">Log Out</a>
    </pre>


  </div>
  </div>
<%- include('partials/footer') %>
