<%- include('partials/header') %>
<div class="sent">
  <h1>Successfully Sent</h1>
  <a name="button" class="btn btn-lg btn-primary" href="/addWork">Go Back</a>
  <a href="/logout" class = "btn btn-lg btn-primary">Log Out</a>
</div>
<%- include('partials/footer') %>
